.images {
    flex: 1;
    max-width: 50%;
    }
   
    .description {
        font-family: "Courier New", Courier, monospace;
        flex: 2 ;
        font-size: 33px;
        padding-left: 50px;
        padding-right: 60px;
    max-width: 700%;
    }

    .second-row {
        display: flex;
    }
   
    .title {
        height: 100px;
        color: rgb(251, 242, 230);
        font-family: "Courier New", Courier, monospace;
        background: rgb(9, 171, 168);
        position: relative; 
    }
    
    .title-text {
        font-size: 400%;
        position: absolute;
        bottom: 0; 
        left: 0; 
        margin: 0; 
        padding-left: 10px;
    }